In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
marvel=pd.read_csv('marvel_characters_dataset.csv')

In [5]:
marvel.head()

,Character,Real Name,Affiliation,Powers,Role,Power Level
0,iron man,Tony Stark,Avengers,"Powered Armor, Genius-level intellect",Hero,Low
1,captain america,Steve Rogers,Avengers,"Super Soldier, Enhanced strength",Hero,Low
2,thor,Thor Odinson,Avengers,"God of Thunder, Weather manipulation",Hero,Low
3,black widow,Natasha Romanoff,Avengers,"Superhuman strength, Espionage",Hero,Low
4,hulk,Bruce Banner,Avengers,"Superhuman strength, Gamma Radiation",Hero,Low

In [6]:
marvel.shape

(45, 6)

In [7]:
marvel.size

270

In [8]:
marvel.tail()

,Character,Real Name,Affiliation,Powers,Role,Power Level
40,doctor octopus,Mac Gargan,Sinister Six,"Superhuman strength, Tentacle control",Hero,Low
41,mysterio,Eddie Brock,Sinister Six,"Illusion creation, Hypnosis",Villain,Low
42,rhino,Carol Danvers,Sinister Six,"Superhuman strength, Durability",Villain,Low
43,venom,Eddie Brock,Avengers,"Symbiote bonding, Enhanced strength",Antihero,Low
44,captain marvel,Carol Danvers,Avengers,"Flight, Superhuman strength, Cosmic energy",Hero,Low

In [10]:
marvel['Role'].value_counts()

Role
Hero        35
Villain      8
Antihero     2
Name: count, dtype: int64

In [11]:
marvel['Role'].value_counts()[0:5]

Role
Hero        35
Villain      8
Antihero     2
Name: count, dtype: int64

In [15]:
marvel[marvel["Role"]=='Hero'][:5]

,Character,Real Name,Affiliation,Powers,Role,Power Level
0,iron man,Tony Stark,Avengers,"Powered Armor, Genius-level intellect",Hero,Low
1,captain america,Steve Rogers,Avengers,"Super Soldier, Enhanced strength",Hero,Low
2,thor,Thor Odinson,Avengers,"God of Thunder, Weather manipulation",Hero,Low
3,black widow,Natasha Romanoff,Avengers,"Superhuman strength, Espionage",Hero,Low
4,hulk,Bruce Banner,Avengers,"Superhuman strength, Gamma Radiation",Hero,Low

In [16]:
good=marvel[marvel['Role']=='Hero']

In [18]:
good.tail()

,Character,Real Name,Affiliation,Powers,Role,Power Level
37,invisible woman,Ben Grimm,Fantastic Four,"Invisibility, Force field generation",Hero,Low
38,human torch,Otto Octavius,Fantastic Four,"Pyrokinesis, Flight",Hero,Low
39,thing,Quentin Beck,Sinister Six,"Superhuman strength, Durability",Hero,Low
40,doctor octopus,Mac Gargan,Sinister Six,"Superhuman strength, Tentacle control",Hero,Low
44,captain marvel,Carol Danvers,Avengers,"Flight, Superhuman strength, Cosmic energy",Hero,Low

In [20]:
good.sort_values(by=['Power Level'],ascending=False).head()

,Character,Real Name,Affiliation,Powers,Role,Power Level
0,iron man,Tony Stark,Avengers,"Powered Armor, Genius-level intellect",Hero,Low
30,valkyrie,Brunnhilde,Defenders,"Superhuman intelligence, Tentacle control",Hero,Low
24,bucky barnes,James Buchanan Barnes,Avengers,"Superhuman strength, Regeneration",Hero,Low
25,falcon,Sam Wilson,Avengers,"Chi manipulation, Martial arts expert",Hero,Low
26,shang-chi,Shang-Chi,Avengers,"Skilled combatant, Weapon mastery",Hero,Low

In [25]:
low_power=marvel[marvel['Power Level']=='Low']

In [26]:
low_power.head()

,Character,Real Name,Affiliation,Powers,Role,Power Level
0,iron man,Tony Stark,Avengers,"Powered Armor, Genius-level intellect",Hero,Low
1,captain america,Steve Rogers,Avengers,"Super Soldier, Enhanced strength",Hero,Low
2,thor,Thor Odinson,Avengers,"God of Thunder, Weather manipulation",Hero,Low
3,black widow,Natasha Romanoff,Avengers,"Superhuman strength, Espionage",Hero,Low
4,hulk,Bruce Banner,Avengers,"Superhuman strength, Gamma Radiation",Hero,Low

In [27]:
low_power.shape

(45, 6)

In [28]:
villa=marvel[marvel['Role']=='Villian']

In [30]:
villa.shape

(0, 6)

In [31]:
villa.size

0